body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 120px;
}

.form-container {
    max-width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 17px;
    margin-bottom: 10px;
}

.recovery-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.recovery-btn {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.recovery-btn:hover {
    background-color: #2176bd;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #3897f0;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.letra{
    color: #706868;
}

.ultimo a{
    color: #272829;
    text-decoration: none;
    
}

.o{
    text-align: center;
    color: #706868;
}